In [9]:
import pandas as pd
df = pd.read_csv('input/advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [10]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [12]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [13]:
X = df.loc[:, df.columns != 'sales']
X.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [14]:
y = df['Sales']
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25)
print(X_train.shape)
print(X_train.head())

(150, 4)
        TV  Radio  Newspaper  Sales
37    74.7   49.4       45.7   14.7
129   59.6   12.0       43.1    9.7
64   131.1   42.8       28.9   18.0
196   94.2    4.9        8.1    9.7
50   199.8    3.1       34.6   11.4

In [16]:
print(X_test.shape)
print(X_test.head())

(50, 4)
       TV  Radio  Newspaper  Sales
20  218.4   27.7       53.4   18.0
18   69.2   20.5       18.3   11.3
73  129.4    5.7       31.3   11.0
23  228.3   16.9       26.2   15.5
55  198.9   49.4       60.0   23.7

In [17]:
print(y_train.shape)
print(y_train.head())

(150,)
37     14.7
129     9.7
64     18.0
196     9.7
50     11.4
Name: Sales, dtype: float64

In [18]:
print(y_test.shape)
print(y_test.head())

(50,)
20    18.0
18    11.3
73    11.0
23    15.5
55    23.7
Name: Sales, dtype: float64

In [19]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [20]:
model.fit(X_train, y_train)

LinearRegression()

In [21]:
predictions = model.predict(X_test)
predictions[:10]

array([18. , 11.3, 11. , 15.5, 23.7, 11.8,  7.2, 15. ,  9.5, 17.1])

In [23]:
import joblib
joblib.dump(model,'output/lr_model.pkl')

['output/lr_model.pkl']